/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


h1{
	 font-size: 60px;
 }

.iod {
	
	width: 48%;
	height: 500px;
	margin: 0;
	display: inline-block;

}

 .right {
	width: 48%;

height: 500px;
display: inline-block;
vertical-align: center;
background-size: 80%;
	

	 }
.header {
	width: 100%;
}

nav a {
	display: inline-block;
	width: 12%;

}
.left {
	width: 48%;
}

.top-section {
	width: 75%;
}
.column {
	width: 25%;
}
	  
	  h2 {
		  width: 100%;
	  }
	 

.middle-img {
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.Middle-Section{
	display: inline-block;
	margin: 2%;
	width: 75%;
	column-count: 3;
	column-gap: 100px;
}

.Contact-Section{
	display: inline-block;

}

footer {
	text-align: center;
}